# Tutorial 1: Data Exploration and regression analysis

In this tutorial you will learn how to read and explore census data from the [IPUMS USA](https://usa.ipums.org/usa/) database. IPUMS USA collects, preserves and harmonizes U.S. census microdata and provides easy access to this data with enhanced documentation. Data includes decennial censuses from 1790 to 2010 and American Community Surveys (ACS) from 2000 to the present. 

IPUMS provides census and survey data from around the world integrated across time and space. IPUMS integration and documentation makes it easy to study change, conduct comparative research, merge information across data types, and analyze individuals within family and community context.

In this tutorial, you will learn how to read the IPUMPS USA data, explore and manipulate it (to prepare for analysis) and how to perform a simple correlation and regression analysis. We will use the IPUMS USA database throughout the next four tutorials.

### Important before we start
---
Make sure that you save this file before you continue, else you will lose everything. To do so, go to **Bestand/File** and click on **Een kopie opslaan in Drive/Save a Copy on Drive**!

Now, rename the file into Week2_Tutorial1.ipynb. You can do so by clicking on the name in the top of this screen.

<h2>Tutorial Outline<span class="tocSkip"></span></h2>
<hr>
<div class="toc"><ul class="toc-item">
<li><span><a href="#1.-Introducing the packages" data-toc-modified-id="1.-Introducing-the-packages-2">1. Introducing the packages</a></span></li>
<li><span><a href="#2.-" data-toc-modified-id="2.-Reading-the-data-and-having-a-first-look-3">2. Reading the data and having a first look</a></span></li>
<li><span><a href="#3.-" data-toc-modified-id="3.-Exploratory-data-analysis-4">3. Exploratory data analysis</a></span></li>
<li><span><a href="#4.-" data-toc-modified-id="4.-Creating new variables-5">4. Creating new variables</a></span></li>
<li><span><a href="#5.-" data-toc-modified-id="5.-Nonlinear-relationships-6">5. Nonlinear relationships </a></span></li></ul></div>

## Learning Objectives
<hr>

- Work with Pandas DataFrames with real-world data.
- Introducing basic functions to explore and understand the data.
- Learn how to Make distribution plots of the data
- Create a correlation map
- Create new variables
- Set up an OLS regression

## 1. Introducing the packages
<hr>

Within this tutorial, we are going to make use of the following packages: 

[**seaborn**](https://seaborn.pydata.org/index.html) is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.

[**NumPy**](https://numpy.org/doc/stable/) is a Python library that provides a multidimensional array object, various derived objects, and an assortment of routines for fast operations on arrays.

[**Pandas**](https://pandas.pydata.org/docs/) is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.


*We will first need to install some of these packages in the cell below. Uncomment them to make sure we can pip install them*

In [ ]:
!pip install seaborn

Now we will import these packages in the cell below:

In [44]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
sns.set_style("whitegrid",{'axes.grid' : True})

## 2. Reading the data and having a first look
<hr>

In [2]:
## Read the data using the pandas package
data = pd.read_csv(r"usadataforweek2tut1.csv")

There are hundreds of variables included in the IPUMS USA database. In the next line of code we read in a file with a short description of the variables that we selected for this tutorial. The dataset contains socio-demographic variables such as age, gender, education, but also economic variables, such as income, mortgage payments, etc. There are also variables about energy cost, like electricity cost, gas costs and fuel costs, and in these tutorial we are going to work towards two machine learning models that can predict energy costs per household.

In [ ]:
datadescription = pd.read_csv(r"shortdescription_ipumsusa_variables.csv", sep = ';', encoding = 'unicode_escape')
print(datadescription)

Now let’s take a look at the dataset. A useful start is to explore the first rows through the `head()` function with Pandas.

In [3]:
data.head()

,Unnamed: 0,YEAR,SAMPLE,SERIAL,HHWT,REGION,STATEFIP,COUNTYFIP,DENSITY,METRO,...,EDUC,EDUCD,DEGFIELD,EMPSTAT,EMPSTATD,LABFORCE,OCC,IND,INCTOT,POVERTY
0,0,2019,201901,3,199.80,32,1,15,364.8,4,...,7,71,NaN,1.0,10,2,5240.0,9160.0,1400.0,NaN
1,1,2019,201901,13,639.36,32,1,0,129.3,0,...,6,65,NaN,3.0,30,1,NaN,NaN,0.0,NaN
2,2,2019,201901,23,869.13,32,1,0,2090.1,4,...,7,71,NaN,1.0,10,2,2350.0,7870.0,970.0,NaN
3,3,2019,201901,33,119.88,32,1,0,217.6,0,...,6,63,NaN,3.0,30,1,NaN,NaN,11100.0,84.0
4,4,2019,201901,43,769.23,32,1,97,2341.6,4,...,6,63,NaN,3.0,30,1,NaN,NaN,0.0,NaN

And let's have a look at the total size of this dataset. To do so, we can use the `shape()` function.

In [4]:
data.shape

(323958, 45)

And some more information through the `describe()` function.

In [5]:
data.describe()

,Unnamed: 0,YEAR,SAMPLE,SERIAL,HHWT,REGION,STATEFIP,COUNTYFIP,DENSITY,METRO,...,EDUC,EDUCD,DEGFIELD,EMPSTAT,EMPSTATD,LABFORCE,OCC,IND,INCTOT,POVERTY
count,323958.000000,323958.0,323958.0,3.239580e+05,323958.000000,323958.000000,323958.000000,323958.00000,323958.000000,323958.000000,...,323958.000000,323958.000000,83072.000000,267842.000000,323958.000000,323958.00000,192319.000000,192319.000000,2.717820e+05,311123.000000
mean,161978.500000,2019.0,201901.0,7.128353e+05,961.079180,28.392168,27.756752,50.53811,3793.671817,2.579449,...,6.270686,65.140781,43.343100,1.829202,15.155792,1.32110,4175.474675,6411.859390,4.543959e+04,333.003998
std,93518.763591,0.0,0.0,4.158698e+05,837.978331,10.288047,16.110784,87.96127,9076.073757,1.418085,...,3.250351,32.342895,17.180462,0.972552,11.219777,0.75129,2702.839018,2630.050819,6.800730e+04,162.682171
min,0.000000,2019.0,201901.0,3.000000e+00,9.990000,11.000000,1.000000,0.00000,2.600000,0.000000,...,0.000000,1.000000,11.000000,1.000000,0.000000,0.00000,10.000000,170.000000,-9.500000e+03,1.000000
25%,80989.250000,2019.0,201901.0,3.479875e+05,479.520000,21.000000,12.000000,0.00000,285.200000,2.000000,...,5.000000,50.000000,24.000000,1.000000,10.000000,1.00000,2145.000000,4971.000000,9.200000e+03,193.000000
50%,161978.500000,2019.0,201901.0,7.104470e+05,729.270000,31.000000,27.000000,17.00000,1329.900000,3.000000,...,6.000000,64.000000,50.000000,1.000000,10.000000,1.00000,4120.000000,7390.000000,2.740000e+04,360.000000
75%,242967.750000,2019.0,201901.0,1.078740e+06,1148.850000,33.000000,42.000000,71.00000,3912.900000,4.000000,...,10.000000,101.000000,61.000000,3.000000,30.000000,2.00000,5740.000000,8191.000000,5.700000e+04,501.000000
max,323957.000000,2019.0,201901.0,1.428034e+06,15144.840000,42.000000,56.000000,810.00000,122270.700000,4.000000,...,11.000000,116.000000,64.000000,3.000000,30.000000,2.00000,9920.000000,9920.000000,1.544500e+06,501.000000

Let's find out the data types of the data and if there are non-null counts.

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323958 entries, 0 to 323957
Data columns (total 45 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  323958 non-null  int64
 1   YEAR        323958 non-null  int64
 2   SAMPLE      323958 non-null  int64
 3   SERIAL      323958 non-null  int64
 4   HHWT        323958 non-null  float64
 5   REGION      323958 non-null  int64
 6   STATEFIP    323958 non-null  int64
 7   COUNTYFIP   323958 non-null  int64
 8   DENSITY     323958 non-null  float64
 9   METRO       323958 non-null  int64
 10  FARM        323958 non-null  int64
 11  OWNERSHP    308813 non-null  float64
 12  OWNERSHPD   308813 non-null  float64
 13  MORTGAGE    226643 non-null  float64
 14  MORTGAG2    147006 non-null  float64
 15  PROPINSR    226643 non-null  float64
 16  RENT        77317 non-null   float64
 17  COSTELEC    308813 non-null  float64
 18  COSTGAS     308813 non-null  float64
 19  COSTFUEL    308813 non-null  float64
 20  HHINCOME    308813 non-null  float64
 21  ROOMS       308813 non-null  float64
 22  BUILTYR2    308813 non-null  float64
 23  UNITSSTR    308813 non-null  float64
 24  BEDROOMS    308813 non-null  float64
 25  FUELHEAT    308813 non-null  float64
 26  VEHICLES    308813 non-null  float64
 27  PERWT       323958 non-null  float64
 28  RELATE      323958 non-null  int64
 29  RELATED     323958 non-null  int64
 30  SEX         323958 non-null  int64
 31  AGE         323958 non-null  int64
 32  MARST       323958 non-null  int64
 33  RACE        323958 non-null  int64
 34  RACED       323958 non-null  int64
 35  EDUC        323958 non-null  int64
 36  EDUCD       323958 non-null  int64
 37  DEGFIELD    83072 non-null   float64
 38  EMPSTAT     267842 non-null  float64
 39  EMPSTATD    323958 non-null  int64
 40  LABFORCE    323958 non-null  int64
 41  OCC         192319 non-null  float64
 42  IND         192319 non-null  float64
 43  INCTOT      271782 non-null  float64
 44  POVERTY     311123 non-null  float64
dtypes: float64(25), int64(20)
memory usage: 111.2 MB

Another way to check if there are missing values by using the following line of code.

In [7]:
data.isnull().sum().sort_values(ascending = False)

RENT          246641
DEGFIELD      240886
MORTGAG2      176952
IND           131639
OCC           131639
MORTGAGE       97315
PROPINSR       97315
EMPSTAT        56116
INCTOT         52176
BUILTYR2       15145
COSTFUEL       15145
COSTGAS        15145
COSTELEC       15145
UNITSSTR       15145
OWNERSHPD      15145
OWNERSHP       15145
ROOMS          15145
BEDROOMS       15145
FUELHEAT       15145
VEHICLES       15145
HHINCOME       15145
POVERTY        12835
YEAR               0
RACED              0
SAMPLE             0
SERIAL             0
HHWT               0
LABFORCE           0
EMPSTATD           0
REGION             0
STATEFIP           0
EDUCD              0
EDUC               0
RACE               0
FARM               0
MARST              0
AGE                0
SEX                0
RELATED            0
RELATE             0
PERWT              0
COUNTYFIP          0
DENSITY            0
METRO              0
Unnamed: 0         0
dtype: int64

## 3. Exploratory data analysis
<hr>

Now we are going to take a look at some specific variables. We want to see how variables are distributed and how they are related to each other, and specifically how they are related to energy costs. We can do this in several ways.

Here we see the different values in the variable OWNERSHIP and how many times each value occurs.

In [8]:
data['OWNERSHP'].value_counts(dropna = False)

1.0    226643
2.0     82170
NaN     15145
Name: OWNERSHP, dtype: int64

In [9]:
data['HHINCOME'].value_counts(dropna = False)

NaN         15145
100000.0     2290
60000.0      2285
0.0          2173
50000.0      2167
            ...
127720.0        1
145450.0        1
72410.0         1
349050.0        1
5070.0          1
Name: HHINCOME, Length: 12286, dtype: int64

The function `value_counts()` is especially useful when the number of values in a variable is limited. For example, for income, which contains a lot of different values, value_counts is not so useful and a plot of the distribution would be more insightful. We can use the **seaborn** package to easily plot the distribution of the income.

In [17]:
sns.displot(data['HHINCOME'], bins=50,kde=False)

In [18]:
# Less bins
sns.displot(data['HHINCOME'], bins=20,kde=False)

And we can also include the kernel density, by setting the `kde` parameter to **True**. Kernel Density Estimation (KDE) is a technique that let’s you create a smooth curve given a set of data. This can be useful if you want to visualize just the “shape” of some data, as a kind of continuous replacement for the discrete histogram.

In [19]:
sns.displot(data['HHINCOME'], bins=50,kde=True)

Now we are going to take a look at energy costs. The total costs of energy are given by electricity costs, gas costs and fuel costs. Before summing the three variables to obtain the total energy costs, we take a look at the three individual variables.

In [13]:
sns.displot(data['COSTELEC'], bins=50,kde=False)

There appears to be a strange value around 10000. Find out about this value with a line of code. You can find on the IPUMS USA [website](https://usa.ipums.org/usa/) what the value indicates.

In [ ]:
# Answer.

Anyhow, we should replace this value around 10000. Fill in the dots in the line of code below. The number you fill in is going to be replaced by 0.

In [20]:
data['COSTELEC'] = data['COSTELEC'].replace(9997, 0) #data['COSTELEC'] = data['COSTELEC'].replace(..., 0)

Do the same for COSTFUEL and COSTGAS. The value to replace is the same as for COSTELEC.

In [21]:
data['COSTFUEL'] = data['COSTFUEL'].replace(9997, 0)

In [22]:
data['COSTGAS'] = data['COSTGAS'].replace(9997, 0)

The total cost of energy is given by the sum of electricity, gas and fuel costs. The next line of code creates a new column in the dataframe called COSTENERGY, which is the sum of three columns.

In [23]:
data['COSTENERGY'] = data['COSTELEC'] + data['COSTGAS'] + data['COSTFUEL']

Next we want to see how variables are related to each other. We can for example do this with a correlation matrix. You can add a few variables you are interested in yourself.
As you can see, there are several options in the seaborn (imported as sns) heatmap. We have annot = True which makes sure that we include the numbers in the heatmap (try switching it off), fmt = .2f specifies that we want to have 2 decimals, with cmap we can specify the color palette and with center = 0, we scale the colors in such a way that a correlation of 0 corresponds to white color.

In [24]:
 sns.heatmap(data[["COSTENERGY", "ROOMS", "RENT", "INCTOT", "HHINCOME", "BUILTYR2", "VEHICLES", "BEDROOMS", "FARM", "OWNERSHP", "MORTGAGE", "AGE", "SEX"]].corr(),
                           annot=True, fmt = ".2f", center=0, cmap = "RdBu")

In [ ]:
# Answer

## 4. Creating new variables
<hr>

The dataset consists of households and individuals. Energy costs are a household variable, i.e. all members of the household have the same energy costs. Age and sex are individual variables, so the relationship between age or sex with energy costs is likely to be low. Think of a family with children, where a 3-year old daughter has the same energy costs as the 40-year old father. But maybe we can use these two variables, AGE and SEX in another way to make them useful. We can for example create a variable with number of children in a household, or number of women, age of the oldest person in the household etc. To create these variables, we need to know which individuals belong to the same household and luckily this is exactly what the column SERIAL indicates. 

Before we go into the variables SEX and AGE, we are going to create a new variable household size based on the variable SERIAL.

In [25]:
serialcount = data['SERIAL'].value_counts(dropna = False).reset_index()

In [26]:
print(serialcount)

          index  SERIAL
0        163320      20
1        625037      20
2       1310431      18
3        759363      18
4        411531      18
...         ...     ...
142942   979822       1
142943   979832       1
142944   979842       1
142945   979852       1
142946        3       1

[142947 rows x 2 columns]

The names of the dataframe *serialcount* are a bit confusing, because the **index** column corresponds to the **SERIAL** number and the column **SERIAL** corresponds to the *household size*, so let's rename the **SERIAL** column to **HHSIZE** and the **index** column to **SERIAL**.

In [27]:
serialcount = serialcount.rename(columns = {'SERIAL':'HHSIZE', 'index':'SERIAL'})

Then we add the column **HHSIZE** (household) size to our data using the `.merge()` function. Within the `merge()` function, you have to define on which column you want to merge them, through the `on` argument.

In [ ]:
data = data.merge(serialcount, on = 'SERIAL', how = 'left')

Next we will use the variable SEX to create a new variable. It is possible that women use more energy than men, or the other way around, so the number of women (or men) could be a useful variable for predicting energy costs. To obtain the household size, we simply counted the number of occurances of each serial number, but to obtain the number of women per household, we also need the column SEX. The variable SEX has two values, 1 represents a male and 2 represents a female.

We use the function `value_count()` to obtain the number of women and men per serial number (household).

In [31]:
gendercount = data[['SERIAL', 'SEX']].value_counts(dropna = False).reset_index()
print(gendercount)

         SERIAL  SEX   0
0        625037    2  13
1       1310431    2  13
2        163320    2  12
3        542360    2  12
4        777814    2  11
...         ...  ...  ..
227109   563059    2   1
227110   563069    1   1
227111   563069    2   1
227112   563079    1   1
227113  1428034    2   1

[227114 rows x 3 columns]

It is always good to realize that in many causes, multiple ways exist to obtain the same result. The following line of code produces the same results:

In [32]:
gendercount = data[['SERIAL','SEX']].groupby(['SERIAL','SEX']).size().reset_index()
print(gendercount)

         SERIAL  SEX  0
0             3    1  1
1            13    2  1
2            23    2  1
3            33    1  1
4            43    2  1
...         ...  ... ..
227109  1428004    2  1
227110  1428014    1  1
227111  1428024    2  2
227112  1428034    1  1
227113  1428034    2  1

[227114 rows x 3 columns]

In the next steps you are going to write code that merges a new variable called **'NR_OF_WOMEN'** (number of women) to the existing dataframe. The following hints guide you through the steps. 

*Three lines of code is sufficient. Hint 1 is given for the first line of code, Hint 2 for the second line, and Hint 3a, 3b, 3c for the third line of code.*

- **Hint 1**: You want to create a variable/column with number of women using the dataframe gendercount. The only thing you have to do is keep the number of the women in the dataframe gendercount, i.e. use SEX == 2. Store this dataframe as a new dataframe named womencount, hence your first line of code starts with womencount = .  

- **Hint 2**: Change the variable name of 0 to NR_OF_WOMEN in the dataframe womencount. 0 is not a string (so it's not '0').  

- **Hint 3a**: In the third line of code you merge the dataframe womencount women to the dataframe data.
- **Hint 3b**: See the line of code where we merged serialcount to data. 
- **Hint 3c**: Think about the column SEX. It has no meaning anymore, since you only kept the women. Hence, you can either drop it from the dataframe or not include it in the merge. If you choose to drop SEX from womencount, this would be your third line of code and the merge would be the fourth line of code.

In [33]:
womencount = gendercount[gendercount['SEX'] == 2]
womencount = womencount.rename(columns = {0:'NR_OF_WOMEN'})
data  = data.merge(womencount[['SERIAL', 'NR_OF_WOMEN']], on = 'SERIAL', how = 'left')

When you succesfully merged the number of women the dataframe, what do you do with the nan values? Fill in the dots.

In [35]:
data['NR_OF_WOMEN'] = data['NR_OF_WOMEN'].fillna(0) # data['NR_OF_WOMEN'] = data['NR_OF_WOMEN'].replace(np.nan, ...)

## 5. Nonlinear relationships
<hr>

We are going to create two new variables based on age. First we want to create a variable with the age of the oldest person.

In [45]:
oldest = data[['SERIAL', 'AGE']].groupby('SERIAL').max().reset_index()

We want to change the name of the column AGE to OLDEST, because we already have a column AGE in the dataframe data. Then we merge it to the dataframe.

In [37]:
oldest = oldest.rename(columns = {'AGE':'OLDEST'})
data = data.merge(oldest, on = 'SERIAL', how = 'left')

QUESTION: Now create a variable yourself with the age of the youngest person, named YOUNGEST, and add it to the dataframe data.

In [38]:
# Answer. 
youngest = data[['SERIAL', 'AGE']].groupby('SERIAL').min().reset_index()
youngest = youngest.rename(columns = {'AGE':'YOUNGEST'})
data = data.merge(youngest, on = 'SERIAL', how = 'left')

Let's check if the correlation of the oldest and youngest person with energy costs is higher than the correlation of age with energy costs.

In [41]:
sns.heatmap(data[["COSTENERGY","YOUNGEST", "OLDEST", "AGE"]].corr(),
                           annot=True, fmt = ".2f", center=0, cmap = "RdBu")

A possible explanation for the low correlation could be that the relationship between age and energy costs is not linear. Let's see the average energy costs over the age of the oldest person in the household in a barplot.

In [ ]:
sns.barplot(x = 'OLDEST', y = 'COSTENERGY', data = data, errorbar = None)
plt.xticks([0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]) #position of xticks.

In the graph we see that especially households where the oldest member is young, energy costs are relatively low. Then energy costs increase until the age of 45-50 (maybe these are families with children) and then slowly decrease. We can add confidence intervals to the barplot with errorbar = 'ci' to see if the differences in energy costs over age of the oldest household member are significantly different.

In [ ]:
sns.barplot(x = 'OLDEST', y = 'COSTENERGY', data = data, errorbar = 'ci')
plt.xticks([15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]) #position of xticks.

Next we take a look at the barplot for age of the youngest person in the household.

In [ ]:
sns.barplot(x = 'YOUNGEST', y = 'COSTENERGY', data = data, errorbar = 'ci')
plt.xticks([0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]) #position of xticks.

## 6. Regression analysis
<hr>

In the last part we are going to estimate a first model to predict energy costs of households. We will use a simple Ordinary Least Squares regression model. To  make life a bit easier, download the dataset for the OLS regression in the following line of code (it includes the new variables you created and it deals with missing values). We use the package statsmodels to estimate the OLS regression. We could also use the sklearn library, but the statsmodels package has the advantage that it includes standard errors of the coefficient estimates. This means that we can say something about the significance of the explanantory variables and the causality between the explanatory variables and the dependent variable, something which is not possible with a machine learning model.

In [ ]:
dataOLS = pd.read_csv(r"usadataforOLS.csv", sep = ',', encoding = 'unicode_escape')

In [ ]:
Y = dataOLS[['COSTENERGY']]

In [ ]:
X = dataOLS[["ROOMS", "HHINCOME", "BUILTYR2", "VEHICLES", "FARM", "OWNERSHP", "MORTGAGE", "YOUNGEST", "OLDEST", "HHSIZE", "NR_OF_WOMEN"]]
X['Constant'] = 1

In [ ]:
regressionOLS = sm.OLS(Y, X)
resultsOLS = regressionOLS.fit()
print(resultsOLS.summary())

Interpret the results of the OLS regression. Make another correlation heatmap to support your explanation.

In [ ]:
# code for correlation heatmap.